body {
    background-color: black;
    box-sizing: border-box;
    color: white;
    display: flex;
    font-family: Futura;
}

@font-face {
    font-family: Futura;
    src: url(../home/font/Futura.ttf);
}

nav, section {
    height: 100vh;
}

nav {
    align-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25vw;
    justify-content: center;
    text-align: center;
    width: 30vw;
}

nav a {
    background-color: #272727;
    border-radius: 20px;
    color: #ffffff;
    display: block;
    height: 10%;
    line-height: 4;
    text-decoration: none;
    transition-duration: 1s;
    width: 75%;
}

nav a:hover {
    background-color: #747474;
    color: #000000;
    transition-duration: 1s;
}

section {
    align-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40vw; 
}

header {
    align-items: center;
    border: 1px solid #272727;
    border-radius: 20px;
    display: flex;
    font-size: 5vw;
    height: 10vw;
    justify-content: center;
    line-height: 15vh;
    width: 100%;
}

header span {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 25px;
    position: relative;
}

header span:before, header span:after {
    background-color: #000000;
    color: #ffffff;
    content: attr(data-text);
    height: 100%;
    left: 0;
    overflow: hidden;
    padding-left: 25px;
    position: absolute;
    top: 0;
    width: 100%;
}

header span:before {
    animation: glitch-red 2s 0s linear reverse infinite;
    left: 3px;
    text-shadow: 5px 0 red;
}

header span:after {
    animation: glitch-blue 2s 0s linear reverse infinite;
    left: -3px;
    text-shadow: -5px 0 blue;
}

@keyframes glitch-red {
    0% {
        clip: rect(132px, 750px, 101px, 30px);
    }
    5% {
        clip: rect(17px, 750px, 94px, 30px);
    }
    10% {
        clip: rect(40px, 750px, 66px, 30px);
    }
    15% {
        clip: rect(87px, 750px, 82px, 30px);
    }
    20% {
        clip: rect(137px, 750px, 61px, 30px);
    }
    25% {
        clip: rect(34px, 750px, 14px, 30px);
    }
    30% {
        clip: rect(133px, 750px, 74px, 30px);
    }
    35% {
        clip: rect(76px, 750px, 107px, 30px);
    }
    40% {
        clip: rect(59px, 750px, 130px, 30px);
    }
    45% {
        clip: rect(29px, 750px, 84px, 30px);
    }
    50% {
        clip: rect(22px, 750px, 67px, 30px);
    }
    55% {
        clip: rect(67px, 750px, 62px, 30px);
    }
    60% {
        clip: rect(10px, 750px, 105px, 30px);
    }
    65% {
        clip: rect(78px, 750px, 115px, 30px);
    }
    70% {
        clip: rect(105px, 750px, 13px, 30px);
    }
    75% {
        clip: rect(15px, 750px, 75px, 30px);
    }
    80% {
        clip: rect(66px, 750px, 39px, 30px);
    }
    85% {
        clip: rect(133px, 750px, 73px, 30px);
    }
    90% {
        clip: rect(36px, 750px, 128px, 30px);
    }
    95% {
        clip: rect(68xp, 750px, 103px, 30px);
    }
    100% {
        clip: rect(14px, 750px, 100px, 30px);
    }
}

@keyframes glitch-blue {
    0% {
        clip: rect(129px, 750px, 36px, 30px);
    }
    5% {
        clip: rect(36px, 750px, 4px, 30px);
    }
    10% {
        clip: rect(85px, 750px, 66px, 30px);
    }
    15% {
        clip: rect(91px, 750px, 91px, 30px);
    }
    20% {
        clip: rect(148px, 750px, 138px, 30px);
    }
    25% {
        clip: rect(38px, 750px, 122px, 30px);
    }
    30% {
        clip: rect(69px, 750px, 54px, 30px);
    }
    35% {
        clip: rect(98px, 750px, 71px, 30px);
    }
    40% {
        clip: rect(146px, 750px, 34px, 30px);
    }
    45% {
        clip: rect(134px, 750px, 43px, 30px);
    }
    50% {
        clip: rect(102px, 750px, 80px, 30px);
    }
    55% {
        clip: rect(119px, 750px, 44px, 30px);
    }
    60% {
        clip: rect(106px, 750px, 99px, 30px);
    }
    65% {
        clip: rect(141px, 750px, 74px, 30px);
    }
    70% {
        clip: rect(20px, 750px, 78px, 30px);
    }
    75% {
        clip: rect(133px, 750px, 79px, 30px);
    }
    80% {
        clip: rect(78px, 750px, 52px, 30px);
    }
    85% {
        clip: rect(35px, 750px, 39px, 30px);
    }
    90% {
        clip: rect(67px, 750px, 70px, 30px);
    }
    95% {
        clip: rect(71xp, 750px, 103px, 30px);
    }
    100% {
        clip: rect(83px, 750px, 40px, 30px);
    }
}

article {
    align-content: space-around;
    border: 1px solid #272727;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    font-size: 2.25vw;
    height: 50vh;
    justify-content: center;
    padding: 5%;   
    text-align: justify;
    width: 100%;
}

article :first-child {
    font-size: 3vw;
}

article a {
    color: #ffffff;
    text-decoration: none;
    transition-duration: 1s;
}

article a:hover {
    color: #747474;
    transform: scale(1.5);
    transition-duration: 1s;
}

footer {
    border: 1px solid #272727;
    border-radius: 20px;
    color: #A64AC9;
    font-size: 1.5vw;
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    width: 100%;
}

.li_2, .li_7 {
    opacity: 0.85;
}

.li_3, .li_8 {
    opacity: 0.7;
}

.li_4, .li_9 {
    opacity: 0.55;
}

.li_5, .li_10 {
    opacity: 0.4;
}

.li_1:hover {
    background-color: #A64AC9;
}

.li_2:hover {
    background-color: #90EE02;
}

nav a:hover {
    opacity: 1;
}