@media only screen and (max-width: 480px) {

    body {
        flex-wrap: wrap;
    }

    section {
        height: 100vh;
        margin-left: auto;
        margin-right: auto;
        order: 1;
        width: 90vw;
    }   

    header span {
        font-size: 50px;
    }

    article {
        flex-wrap: wrap;
        text-align: center;
    }

    article p {
        font-size: 10vw !important;
    }

    article span {
        font-size: 5vw;
    }

    article a {
        font-size: 7.5vw;
    }

    footer {
        font-size: 5vw;
    }

    nav {
        height: 100vh;
        order: 2;
        width: 100vw;
    }

    nav a {
        font-size: 15px;
        line-height: 4.5;
        width: 80%;
    }

}

@media only screen and (min-width: 481px) and (max-width: 767px) {

    body {
        flex-wrap: wrap;
    }

    section {
        height: 100vh;
        margin-left: auto;
        margin-right: auto;
        order: 1;
        width: 90vw;
    }   

    header span {
        font-size: 100px;
    }

    article {
        flex-wrap: wrap;
        text-align: center;
    }

    article p {
        font-size: 10vw !important;
    }

    article span {
        font-size: 5vw;
    }

    article a {
        font-size: 7.5vw;
    }

    footer {
        font-size: 5vw;
    }

    nav {
        height: 100vh;
        order: 2;
        width: 100vw;
    }

    nav a {
        font-size: 35px;
        line-height: 4;
        width: 80%:
    }

}