@font-face {
    font-family: Futura;
    src: url(../font/Futura.ttf);
}

@font-face {
    font-family: Futura-Italic;
    src: url(../font/Futura\ Italic.ttf);
}

body {
    background-color: black;
    color: white;
    display: flex;
    font-family: Futura;
}

/* Panel boczny */

nav {
    float: left;
    height: 100vh;
    text-align: center;
    position: relative;
    width: 20vw;
}

nav img {
    border-radius: 10px;
    margin-top: 20%;
    max-height: auto;
    width: 80%;
}

nav .menu {
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    left: 0;
    margin-bottom: 25%;
    position: absolute;
}

.menu a {
    align-items: center;
    background-color: #272727;
    border-radius: 10px;
    color: #747474;
    display: flex;
    font-size: 25px;
    height: 20%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    transition-duration: 1s;
    width: 80%;
}

.menu a:hover {
    color: #000000;
    transition-duration: 1s;
}

footer {
    bottom: 0;
    color: #A64AC9;
    cursor: default;
    font-size: 15px;
    left: 0;
    margin-bottom: 15%;
    position: absolute;
    width: 100%;
}

/* Home */

#home {
    height: 100vh;
    text-align: center;
    width: 80%;
}

#home .top {
    color: #ffffff;
    font-size: 30px;
    height: 15vh;
    line-height: 20vh;
}

#home .top span {
    font-size: 50px;
    margin-right: 50px;
}

#home .mid {
    background-image: url(../gfx/home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #A64AC9;
    font-size: 25px;
    height: 60vh;
    padding-top: 2.5%;
}

#home .bot {
    color: #747474;
    font-family: Futura-Italic;
    font-size: 25px;
    height: 15vh;
    line-height: 5vh;
}

#home .bot .author {
    font-family: Futura;
}

#home hr {
    border: 1px solid #A64AC9;
    width: 90%;
}

/* O mnie */

#about {
    width: 80vw;
}

#about .me {
    display: flex;
    height: 40vh;
    justify-content: space-evenly;
    margin: 2.5vh 0;
}

#about .me .img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    float: left;
    height: 100%;
    width: 30%;
}

#about .me .about {
    float: left;
    height: 100%;
    padding-left: 25px;
    width: 60%;
}

#about p {
    font-size: 30px;
    margin-bottom: 15px;
}

#about .me .about span {
    font-size: 20px;
}

#about .skills {
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    width: 75vw;
}

#about .title {
    font-size: 30px;
    padding-left: 25px;
}

#about .all_skills {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1.5%;
}

#about .all_skills div {
    align-items: center;
    display: flex;
    height: 60px;
    line-height: 60px;
    margin-top: 2.5%;
    width: 30%;
}

#about .all_skills div #logo {
    align-items: center;
    background-color: #272727;
    border: 0.25px solid #747474;
    border-radius: 100px;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 2.5px #272727;
    color: #ffffff;
    float: left;
    font-size: 25px;
    justify-items: center;
    margin-bottom: auto;
    margin-top: auto;
    padding-left: 12px;
    width: 20%;
}

#about .all_skills div .meter {
    background-color: #272727;
    border: 1px solid #747474;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 2.5px #272727;
    float: left;
    height: 50%;
    margin-bottom: auto;
    margin-left: 10px;
    margin-top: auto;
    width: 80%;
}

#about .meter div {
    background-color: #A64AC9;
    border-radius: 20px;
    height: 100%;
    margin-bottom: auto;
    margin-top: auto;
}

#about hr {
    border: 1px solid #A64AC9;
    width: 90%;
}

/* Portfolio */

#projects {
    height: 100vh;
    text-align: center;
    width: 80vw;
}

#projects p {
    font-size: 35px;
    margin: 2.5% 0;
}

#projects hr {
    border: 1px solid #A64AC9;
    margin-bottom: 2.5%;
    width: 90%;
}

#projects .all {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: 75vh;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

#projects .all div {
    border: 1px solid #A64AC9;
    border-radius: 10px;
    height: 45%;
    margin: 2.5% 2.5%;
    width: 25%;
}

#projects .all div .content {
    background-color: rgba(000,000,000,0.75);
    font-size: 15px;
    height: 100%;
    margin: auto;
    opacity: 0;
    transition-duration: 1s;
    visibility: hidden;
    width: 100%;
}

#projects .all div:hover .content {
    opacity: 1;
    transition-duration: 1s;
    visibility: visible;
}

#projects .title {
    font-size: 20px;
    margin-top: 15px;
}

#projects a {
    color: white;
    text-decoration: none;
    transition-duration: 1s;
}

#projects a:hover {
    color: #747474;
    transform: scale(1.2);
    transition-duration: 1s;
}

#projects .title, #projects a, #projects .made, #projects .time {
    display: block;
    padding: 5.5% 0;
}

/* Kontakt */

#kontakt section {
    align-items: center;
    display: flex;
    height: 80vh;
    padding-top: 20vh;
}

#kontakt section div {
    height: 60vh;
    margin: 0 2.5vw;
    text-align: justify;
    width: 35vw;
}

#kontakt span {
    font-size: 35px;
}

#kontakt p {
    align-items: center;
    display: flex;
    font-size: 25px;
    height: 50px;
    margin-top: 25px;
}

#kontakt .mail {
    font-size: 25px;
    transition-duration: 1s;
}

#kontakt .mail:hover {
    color: #747474;
    font-size: 30px;
    transition-duration: 1s;
}

#kontakt a {
    color: white;
    text-decoration: none;
    transition-duration: 1s;
}

#kontakt a:hover {
    color: #747474;
    font-size: 30px;
    transition-duration: 1s;
}

#kontakt img {
    margin-right: 25px;
    max-height: 50px;
    max-width: auto;
    transition-duration: 1s;
}

#kontakt img:hover {
    transform: scale(1.25);
    transition-duration: 1s;
}

#kontakt hr {
    border: 1px solid #A64AC9;
    float: left;
    width: 80%;
}

input[type="text"], input[type="email"] {
    height: 25px;
    font-size: 15px;
    margin-top: 15px;
    width: 50%;
}

input[type="submit"] {
    background-color: #272727;
    border: none;
    border-radius: 10px;
    color: #747474;
    height: 35px;
    font-size: 20px;
    margin-top: 15px;
    transition-duration: 1s;
    width: 25%;
}

input[type="submit"]:hover {
    color: #000000;
    transition-duration: 1s;
}

textarea {
    font-size: 15px;
    margin-top: 15px;
    width: 80%;
}

::placeholder {
    color: #747474;
}

input[type="text"], input[type="email"], textarea {
    background-color: transparent;
    border: 1px solid #272727;
    color: white;
    outline: none;
    transition-duration: 1s;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    border: 1px solid #A64AC9;
    color: white;
    transition-duration: 1s;
}