@media only screen and (max-width: 480px) {

    body {
        display: flex;
        flex-wrap: wrap;
    }

    nav {
        align-items: baseline;
        background-color: black;
        display: flex;
        flex-wrap: wrap;
        height: 10vh;
        left: 0;
        position: sticky;
        top: 0;
        width: 100vw;
    }

    nav img {
        margin-bottom: auto;
        margin-left: 2.5%;
        margin-top: auto;
        max-height: auto;
        order: 1;
        max-width: 17.5%;
    }

    nav .menu {
        height: 10vh;
        margin: auto 0;
        order: 2;
        position: static;
        width: 80%;
    }

    .menu a {
        font-size: 4.5vw;
        height: 75%;
        margin: auto 2.5%;
        width: 20%;
    }

    footer {
        display: none;
    }

    /* Home */

    #home {
        height: 80vh;
        margin: 0 auto;
        width: 90vw;
    }

    #home .top {
        font-size: 4vw;
        height: 10vh;
        line-height: 10vh;
    }

    #home .top span {
        font-size: 7.5vw;
        margin-right: 10px;
    }

    #home .mid {
        height: 60vh;
    }

    #home .bot {
        font-size: 4.25vw;
        height: 10vh;
        line-height: 3vh;

    }

    /* About */

    #about {
        height: 180vh;
        margin: 0 auto;
        width: 90vw;
    }

    #about .me {
        flex-wrap: wrap;
        height: 80vh;
        margin: 4.5vh 0;
    }

    #about .me .img {
        height: 40%;
        width: 100%;
    }

    #about .me .about {
        height: 50%;
        width: 100%;
    }

    #about p {
        font-size: 7.5vw;
    }

    #about .me .about span {
        font-size: 5vw;
    }

    #about .skills {
        margin-top: 0;
    }

    #about .all_skills div {
        margin-top: 25px;
        width: 80%;
    }

    #about .all_skills div #logo {
        padding-left: 0.5vw;;
    }

    #about .all_skills div .meter {
        margin-left: 25px;
    }

    #about .meter div {
        margin-bottom: 25px;
    }

    /* Portfolio */

    #projects {
        margin: auto 0;
        width: 100vw;
    }

    #projects p {
        font-size: 10vw;
    }

    #projects .all div {
        margin: 25px auto;
        width: 75%;
    }

    /* Kontakt */

    #kontakt {
        margin: 0 auto;
        width: 90vw;
    }

    #kontakt section {
        flex-wrap: wrap;
        padding: 5% 0;
        width: 100%;
    }

    #kontakt section div {
        height: auto;
        margin: 25px 0;
        width: 75%;
    }

    #kontakt .form {
        order: 2;
    }

    #kontakt .mail {
        font-size: 5vw;
    }

    #kontakt .mail:hover {
        font-size: 25px !important;
    }

    #kontakt img:hover {
        transform: scale(1);
    }

}

@media only screen and (min-width: 481px) and (max-width: 767px) {

    body {
        display: flex;
        flex-wrap: wrap;
    }

    nav {
        align-items: baseline;
        display: flex;
        flex-wrap: wrap;
        height: 10vh;
        width: 100vw;
    }

    nav img {
        margin-bottom: auto;
        margin-left: 2.5%;
        margin-top: auto;
        max-height: auto;
        max-width: 17.5%;
        order: 1;
    }

    nav .menu {
        height: 10vh;
        margin: auto 0;
        order: 2;
        position: static;
        width: 80%;
    }

    .menu a {
        font-size: 4.5vw;
        height: 75%;
        margin: auto 2.5%;
        width: 20%;
    }

    footer {
        display: none;
    }

    /* Home */

    #home {
        height: 80vh;
        margin: 0 auto;
        width: 90vw;
    }

    #home .top {
        font-size: 4vw;
        height: 10vh;
        line-height: 10vh;
    }

    #home .top span {
        font-size: 7.5vw;
        margin-right: 10px;
    }

    #home .mid {
        height: 60vh;
    }

    #home .bot {
        font-size: 4.25vw;
        height: 10vh;
        line-height: 3vh;
    }

    /* About */

    #about {
        height: 180vh;
        margin: 0 auto;
        width: 90vw;
    }

    #about .me {
        flex-wrap: wrap;
        height: 80vh;
        margin: 4.5vh 0;
    }

    #about .me .img {
        height: 40%;
        width: 100%;
    }

    #about .me .about {
        height: 50%;
        width: 100%;
    }

    #about p {
        font-size: 10vw;
    }

    #about .title {
        font-size: 10vw;
    }

    #about .me .about span {
        font-size: 5vw;
    }

    #about .skills {
        margin-top: 0;
    }

    #about .all_skills div {
        margin-top: 25px;
        width: 80%;
    }

    #about .all_skills div #logo {
        padding-left: 2.5vw;
    }

    #about .all_skills div .meter {
        margin-left: 25px;
    }

    #about .meter div {
        margin-bottom: 25px;
    }

    #projects .title, #projects a, #projects .made, #projects .time {
        padding: 10% 0;
    }

    /* Portfolio */

    #projects {
        margin: auto 0;
        width: 100vw;
    }

    #projects p {
        font-size: 10vw;
    }

    #projects .all div {
        margin: 25px auto;
        width: 40%;
    }

    /* Kontakt */

    #kontakt {
        margin: 0 auto;
        width: 90vw;
    }

    #kontakt section {
        flex-wrap: wrap;
        padding: 5% 0;
        width: 100%;
    }

    #kontakt section div {
        height: auto;
        margin: 25px 0;
        width: 75%;
    }

    #kontakt .form {
        order: 2;
    }

    #kontakt .mail {
        font-size: 5vw;
    }

    #kontakt .mail:hover {
        font-size: 25px !important;
    }

    #kontakt img:hover {
        transform: scale(1);
    }

}