body {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    color: #ffffff;
}

section {
    background-color: transparent;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
}

header {
    font-size: 4vw;
    height: 15vh;
    margin-left: auto;
    margin-top: 5vh;
    margin-right: auto;
    width: 75vw;
}

nav {
    font-size: 2vw;
    height: 10vh;
    padding: 0 10px;
}

nav span {
    display: inline-block;
    font-size: 3vw;
}

nav a {
    display: inline-block;
    margin: 0 25px;
}

article {
    height: 100px;
    margin: 12.5px auto;
    width: 80%;
}

p {
    font-size: 2vw;
    margin-bottom: 10px;
}

a {
    color: #ffffff;
}

a:hover {
    text-decoration: none;
}

span {
    font-size: 1.5vw;
}

hr {
    border: 1px solid #90EE02;
    width: 80%;
}

footer {
    font-size: 1.5vw;
    height: 10vh;
    line-height: 10vh;
    text-align: center;
}

.post {
    margin: 25px auto;
    width: 80%;
}

h3 {
    font-size: 25px;
    text-align: center;
}

.links a {
    display: block;
    font-size: 2vw;
    margin: 50px 25px;
}

.post p {
    font-size: 20px;
    margin: 25px auto;
    max-width: 700px;
    text-indent: 25px;
}

.gallery {
    align-items: center;
    display: flex;
    height: 350px;
    justify-content: space-between;
    margin: 0 auto;
    width: 650px;
}

.gallery .arrow {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    pointer-events: auto;
    text-align: center;
    transition-duration: 1s;
    width: 50px;
}

.gallery .arrow:hover {
    border: 1px solid black;
    color: black;
    cursor: pointer;
    transform: scale(0.75);
    transition-duration: 1s;
}

.gallery {
    pointer-events: none;
    transition-duration: 2.5s;
}

.gallery img { 
    border-radius: 25px;
    height: 350px;
    pointer-events: auto;
    transition-duration: 2.5s;
    max-width: 500px;
}

.gallery:hover {
    transform: scale(1.5);
    transition-duration: 2.5s;
}

.data {
    float: right;
    font-size: 15px !important;
}