body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    color: #ffffff;
}

section {
    background-color: transparent;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
}

header {
    font-size: 4vw;
    height: 15vh;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
}

nav {
    height: 10vh;
    font-size: 2vw;
    padding: 0 10px;
    border-radius: 10px;
    border: 2.5px solid #90EE02;
}

nav span {
    font-size: 3vw;
    display: inline-block;
}

nav a {
    margin: 0 25px;
    display: inline-block;
}

article {
    width: 80%;
    height: 100px;
    margin: 12.5px auto;
}

p {
    font-size: 2vw;
    margin-bottom: 10px;
}

a {
    color: #ffffff;
}

a:hover {
    text-decoration: none;
}

span {
    font-size: 1.5vw;
}

hr {
    width: 80%;
    border: 1px solid #90EE02;
}

footer {
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    font-size: 1.5vw;
}

.post {
    margin: 25px auto;
    width: 80%;
}

h3 {
    font-size: 25px;
    text-align: center;
}

.post p {
    font-size: 20px;
    text-align: justify;
}

.data {
    float: right;
    font-size: 15px !important;
}