body {
    background-image: url(../gfx/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    color: white;
}

section {
    background-color: transparent;
    width: 75vw;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 15vh;
    width: 75vw;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 4vw;
}

nav {
    height: 10vh;
    font-size: 2vw;
    padding: 0 10px;
    border-radius: 10px;
    border: 2.5px solid #90EE02;
}

nav span {
    font-size: 3vw;
    display: inline-block;
}

nav a {
    margin: 0 25px;
    display: inline-block;
}

article {
    width: 80%;
    height: 100px;
    margin: 12.5px auto;
}

p {
    font-size: 2vw;
    margin-bottom: 10px;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

/* p a:visited {
    color: #272727;
} */

span {
    font-size: 1.5vw;
}

hr {
    width: 80%;
    border: 1px solid #90EE02;
}

footer {
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    font-size: 1.5vw;
}